Constraint 1:
For each ClimbingSeason:
	self.endDate.isAfter(self.startDate)

Constraint 2:
For each Bundle:
	There exists e1, e2 in equipmentInBundle such that type of e1 <> type of e2

Constraint 3:
When boolean hired guide is true, a percentage discount should be offered to the member who hired the guide 

Constraint 4: 
A mountain guide cannot be assigned to many members during the same week.

Constraint 5:

	
	